

html { 
height: 100%; /* sets the amount of broswer  window html takes*/
font-size: 100%;
}

body {
    position: relative;
    font-family:'Open sans';
    color: black;
    max-height: 100%; /* min height of body  to be 100%*/
    
}


.sidebar{
    position: relative;
    margin-top:0px;
    margin-bottom:10px;
    padding-bottom: 100%;
    width: 200px;
    height: 100%;
    border-style: none;
    background-color:rgba(0,100,225,.5);/* the "a" in rgba stands for alpha, or the opacity of the color */
    z-index: 1; /*larger values sit above smaller values, by default broswers z values are "auto" */
    float: left;
}
.sidebar h1{
    text-align: center;
}
.top button{
    font-size:60%;
}


.sidebar li{
    color: black;
    list-style: none;
    padding-left: 3rem;
}

.content{
    position: relative;
}


@media (min-width:640px) {
    html { font-size: 100%; }
    
    .sidebar{ width: 30%; }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
    html{ font-size:100%; }
    .sidebar{ width: 25%;}
    
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}